<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background: url("background3.jpg") no-repeat center center;
            background-size: cover;
            min-height: 100vh;
            overflow-x: hidden;
        }
        
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        
        .cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .wrap {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
            margin: 12px;
        }
        
        .wrap .card {
            height: 100% !important;
            margin: 0 24px;
            padding: 6px;
            background: transparent;
            border: none;
            color: white;
        }
        
        .wrap .card p {
            width: 550px;
            font-size: 1.1em;
        }
        
        .msg {
            width: 400px;
            height: 30px;
            z-index: 100;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #f51111;
            font: bold 20px Georgia, sans-serif;
            text-align: center;
            color: white;
            border-radius: 5px;
            box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.9);
            animation: down .8s ease-in-out, up .6s ease-in-out 5s;
            animation-fill-mode: forwards
        }
        
        @keyframes down {
            from {
                top: -40px;
            }
            to {
                top: 20px;
            }
        }
        
        @keyframes up {
            from {
                top: 20px;
            }
            to {
                top: -40px;
            }
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Grapes of Wrath</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <% if(locals.msg){%>
        <div class="msg">
            <%= msg %>
        </div>
        <%}%>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
                <a class="navbar-brand" style="color: rgb(191, 255, 161)">The Grapes of Wrath</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        <a href="/home" class="btn btn-outline-success m-2 my-sm-0">Home</a>
                    </form>
                </div>
            </nav>
            <div class="cont">
                <div class="wrap">
                    <div class="card">
                        <p>
                            First published in 1939, Steinbeck’s Pulitzer Prize-winning epic of the Great Depression chronicles the Dust Bowl migration of the 1930s and tells the story of one Oklahoma farm family, the Joads—driven from their homestead and forced to travel west to
                            the promised land of California.
                        </p>
                        <div class="readlist">
                            <form action="/addToReadList" method="POST">
                                <button id="readlist" class="btn btn-secondary ml-3" value="grapes" name="bookname">Add to Want to Read List</button>
                            </form>
                        </div>
                    </div>
                    <div>
                        <img id="image" src="/grapes.jpg" width="193" height="300">
                    </div>
                </div>
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Xc2LaRQJIEE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
</body>

</html>